<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workflow Param</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bulma/bulma.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery/jquery.datatables-1.10.19.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/workflow/workflow_param.css" />
    <!-- <script defer src="/static/js/FontAwesome/all.min.js"></script> -->
    <script src="/static/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery/jquery.dataTables-1.10.19.min.js"></script>
    <script src="/static/js/workflow/workflow_param.js"></script>
    <!-- <script type="text/javascript">
        $(function () {
            // console.log("{{ .WfiStatus }}");
            $('#WfdStatus').val("{{ .WFD.WfdStatus }}");
        });
    </script> -->
</head>

<body>
    <div>{{ . }}</div>

    <!--
    <div id="info">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" id="WfdName" type="text" value="{{ .WFD.WfdName }}">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Status</label>
                                    <div class="control">
                                        <span class="select">
                                            <select id="WfiStatus">
                                                <option>启用</option>
                                                <option>禁用</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label" style="visibility:hidden">hidden</label>
                                    <div class="control is-fullwidth">
                                        <a class="button is-primary" id="save">保存</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <label class="label">Create</label>
                                    <div class="control">
                                        <input class="input" id="CreateTime" type="text" disabled value="{{ .WFD.CreateTime }}">
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Modify</label>
                                    <div class="control">
                                        <input class="input" id="ModifyTime" type="text" disabled value="{{ .WFD.ModifyTime }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-one-third">
                <div class="field">
                    <label class="label">Shell</label>
                    <div class="control">
                        <input class="input" id="WfdShell" type="text" value="{{ .WFD.WfdShell }}">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">CMD</label>
                    <div class="control">
                        <input class="input" id="WfdCmd" type="text" value="{{ .WFD.WfdCmd }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr">
    <div>
        {{range $idx,$obj := .WFP}}

            <p>{{$idx}}->{{$obj.WfpName}}</p>

        {{end}}
    </div>

    -->

    {{template "footer" .}}

</body>

</html>