<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component with Parameters</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/bulma/bulma.min.css" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/jquery/jquery.datatables-1.10.19.min.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/component/component_detail.css" />
    <!-- <script defer src="/static/js/FontAwesome/all.min.js"></script> -->
    <script src="/static/js/base/jquery/jquery-3.3.1.min.js"></script>
    <!-- <script src="/static/js/base/jquery/jquery.dataTables-1.10.19.min.js"></script> -->
    <script src="/static/js/component/component_detail.js"></script>
</head>

<body>
    <!--
    <div>{{ . }}</div>
    <div>{{ .Comp }}</div>
    <div>{{ .Params }}</div>
    -->

    <div id="comp">
        <div class="columns">
            <div class="column is-one-fifth">

                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" id="CompName" type="text" value="{{ .Comp.CompName }}">
                    </div>
                </div>

            </div>
            <div class="column is-two-fifths">

                <div class="field">
                    <label class="label">CMD</label>
                    <div class="control">
                        <input class="input" id="CompCmd" type="text" value="{{ .Comp.CompCmd }}">
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="field">
                    <label class="label">Create</label>
                    <div class="control">
                        <input class="input" id="CreateTime" type="text" disabled value="{{ .Comp.CreateTime }}">
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth">
                <div class="field">
                    <label class="label">Modify</label>
                    <div class="control">
                        <input class="input" id="ModifyTime" type="text" disabled value="{{ .Comp.ModifyTime }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr">

    <div id="ctrl">
        <div class="field is-grouped">
            <p class="control">
                <a class="button is-link is-outlined" id="add">
                    增加
                </a>
            </p>
            <p class="control">
                <a class="button is-danger is-outlined" id="del">
                    删除
                </a>
            </p>
            <p class="control">
                <a class="button is-primary is-outlined" id="save">
                    保存
                </a>
            </p>
        </div>
    </div>

    <hr class="hr">

    <div id="params">
        <div class="columns">
            {{range $idx,$obj := .Params}}
            <div class="column">
                <div class="param">
                    <div class="field">
                        <label class="label" id="ParamSeq" data-WfpId="{{ $obj.ParamId }}">参数{{ $obj.ParamSeq }}-></label>
                        <div class="control">
                            <input class="input" id="ParamName" type="text" value="{{ $obj.ParamName }}" placeholder="参数名">
                        </div>
                        <div class="control">
                            <input class="input" id="ParamDefault" type="text" value="{{ $obj.ParamDefault }}"
                                placeholder="默认值">
                        </div>
                    </div>
                </div>
            </div>

            {{end}}
        </div>
    </div>

    {{template "footer" .}}
</body>

</html>