<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>datatables</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery/jquery.datatables-1.10.19.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/test/datatables.css" />
    <script src="/static/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery/jquery.dataTables-1.10.19.min.js"></script>
    <script src="/static/js/test/datatables.js"></script>
</head>

<body>
    <table id="table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Modify Time</th>
                <th></th>
            </tr>
        </thead>
        <!--
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Modify Time</th>
                <th></th>
            </tr>
        </tfoot>
        -->
    </table>
</body>

</html>