<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JOB LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bulma/bulma.min.css" />
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script defer src="/static/js/FontAwesome/all.min.js"></script>
    <script src="/static/js/test/joblist.js"></script>
</head>

<body>

    <div class="columns">
        <div class="column is-one-fifth">

            <nav class="panel">
                {{range $idx,$obj := .}}
                <a class="panel-block" onclick="showContent(this);">
                    <span class="panel-icon">
                        <i class="fas fa-wrench" aria-hidden="true"></i>
                    </span>
                    <p data-JobId="{{$obj.JobId}}">{{$idx}}->{{$obj.JobName}}</p>
                </a>
                {{end}}
            </nav>
        </div>

        <div class="column">
            <div id="content">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="field">
                            <label class="label">作业名称</label>
                            <div class="control">
                                <!-- <input class="input" type="text" placeholder="" id="jobname"> -->
                                <textarea class="textarea" type="text" id="JobName" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">描述</label>
                            <div class="control">
                                <textarea class="textarea" type="text" id="JobRemark" rows="2"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="field">
                    <label class="label">作业流</label>
                </div>
                <div id="jobflows">

                    <div class="jobflow" data-JfId="1" data-JfSeq="1">
                        <p>序号 : 1</p>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">描述信息</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control">
                                        <a class="button is-static">
                                            名称
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfName">
                                    </div>
                                </div>
                                <!-- <div class="field has-addons">
                                    <div class="control">
                                        <a class="button is-static">
                                            描述
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfRemark">
                                    </div>
                                </div> -->
                                <div class="field has-addons">
                                    <div class="control">
                                        <a class="button is-static">
                                            状态
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfStatus">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">执行信息</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons" style="width:0%;">
                                    <div class="control">
                                        <a class="button is-static">
                                            SHELL路径
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfSh">
                                    </div>
                                </div>
                                <div class="field has-addons">
                                    <div class="control">
                                        <a class="button is-static">
                                            命令
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfCmd">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">参数信息</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <div class="control">
                                        <a class="button is-static">
                                            参数1
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfSh">
                                    </div>
                                </div>
                                <div class="field has-addons">
                                    <div class="control">
                                        <a class="button is-static">
                                            参数2
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfCmd">
                                    </div>
                                </div>
                                <div class="field has-addons">
                                    <div class="control">
                                        <a class="button is-static">
                                            参数3
                                        </a>
                                    </div>
                                    <div class="control is-expanded">
                                        <input class="input" type="text" placeholder="" id="JfStatus">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr">
                    <!-- style="margin-bottom: 0;" -->
                    <div class="jobflow" data-JfId="2" data-JfSeq="2">
                        <p>序号 : 2</p>
                    </div>
                    <hr class="hr">
                </div>
            </div>
        </div>
    </div>

    {{template "footer" .}}

</body>

</html>