<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JOB LIST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/bulma/bulma.min.css" />
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script defer src="/static/js/FontAwesome/all.min.js"></script>
    <script src="/static/js/test/joblist.js"></script>
</head>

<body>

    <div class="columns">
        <div class="column is-one-fifth">

            <nav class="panel">
                {{range $idx,$obj := .}}
                <a class="panel-block" onclick="showContent(this);">
                    <span class="panel-icon">
                        <i class="fas fa-wrench" aria-hidden="true"></i>
                    </span>
                    <p data-jobid="{{$obj.JobId}}">{{$idx}}->{{$obj.JobName}}</p>
                </a>
                {{end}}
            </nav>
        </div>

        <div class="column">
            <div id="content">
                <h1 id="jobname"></h1>
                <h3 id="jobremark"></h3>
                <div id="jobflows">
                    
                </div>
            </div>
        </div>
    </div>

    {{template "footer" .}}

</body>

</html>