<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST PAGE</title>
    <script src="/static/js/base/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/base/wangEditor-3.1.1/release/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#text');
        editor.create();
        document.getElementById('btn').addEventListener('click', function () {
            var json = editor.txt.getJSON()
            var jsonStr = JSON.stringify(json)
            console.log(json)
            console.log(jsonStr)
            alert(jsonStr)
        });
    </script>
</head>
<body>
    <input type="button" id="btn" value="提交"/>
    <div id="text">
        <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
        <img src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo_top_ca79a146.png" style="max-width:100%;"/>
    </div>
</body>
</html>